<div id="application" class="page">
    <div class="divided title">
        报名
    </div>

    <div class="ui stackable page grid">
        <div class="column">
            <div class="ui form" ng-class="{'loading': loading}">

                <div class="divided title">基本信息</div>

                <fieldset ng-disabled="regIsClosed">

                    <div class="field">
                        <label>Email</label>
                        <input type="email" name="email" disabled="disabled" ng-model="user.email">
                    </div>

                    <div class="field">
                        <label>姓名</label>
                        <input type="text" name="name" ng-model="user.profile.name">
                    </div>

                    <div class="field">
                        <label>性别</label>
                        <p>
                            请需要评选 “最佳女队” 奖项的参赛队伍的选手正确填写本选项，但是我们尊重你选择任何一个选项的权利。
                        </p>
                        <select name="gender" ng-model="user.profile.gender">
                            <option value="M">男</option>
                            <option value="F">女</option>
                            <option value="O">其他</option>
                            <option value="N">不回答本问题</option>
                        </select>
                    </div>

                    <div class="field">
                        <label>学院</label>
                        <div id="school" class="ui search">
                            <div class="ui input">
                                <input class="prompt" type="text" placeholder="学院" name="school"
                                    ng-model="user.profile.school">
                            </div>
                            <div class="results"></div>
                        </div>
                    </div>

                    <div class="field">
                        <label>专业班级</label>
                        <input type="text" name="class" placeholder="请按照 “专业班级” 的格式填写，如：计算机1801班，软件1701班，计科1702班"
                            ng-model="user.profile.class">
                    </div>

                    <div class="field">
                        <label>学号</label>
                        <input type="text" name="student" ng-model="user.profile.student">
                    </div>

                    <div class="field">
                        <label>QQ 号</label>
                        <input type="text" name="qq" ng-model="user.profile.qq">
                    </div>

                    <div class="field">
                        <label>手机号</label>
                        <input type="text" name="phone" ng-model="user.profile.phone">
                    </div>

                    <div class="field">
                        <label>加分课程</label>
                        <p>
                            在本次比赛中，选择了在这个列表中的课程的参赛选手，如果填写本选项，我们将会在比赛结束后将你的信息和你所在的队伍的成绩、源码等提供给该课程的科任老师，用于完成平时分加分项评定。<br>
                            有关本选项的详细信息，请<a href="https://gaming.jxpxxzj.cn/competition/#_8">点击这里</a>。
                        </p>
                        <select name="course" placeholder="please read" ng-model="user.profile.course">
                            <option value="">无</option>
                            <option value="390108X10">[390108X10] Java 面向对象程序设计 SSD3 (邝砾)，软件工程 1801-1803, 1804-1806</option>
                            <option value="390127Z10">[390127Z10] 软件开发架构平台 (宋铁)，软件工程 1701-1703, 1704-1706</option>
                        </select>
                    </div>

                    <div class="field">
                        <p>
                            <strong>
                                队伍信息
                            </strong>
                        </p>
                        <p>
                            我们会根据这个选项审核 Botzone 上的提交，请确保一个队伍只有队长选择了本选项。<br>
                            队长在选择本选项后，请在左侧的 <strong>队伍</strong> 中创建自己的队伍，并填写下面的信息。<br>
                            队员请不要选择本选项并忽略以下信息（以队长所填为准，多填则以最早提交的信息为准），并在 <strong>队伍</strong>
                            中输入队名以加入队伍（请确认队伍无误，如以下信息缺失将影响你的成绩统计）。<br>
                            注意：即使你是一个人参赛，你仍然需要选择本选项，填写信息并在左侧的 <strong>队伍</strong> 中创建你的队伍。
                        </p>
                        <div class="ui checkbox">
                            <input type="checkbox" id="leader" ng-model="user.profile.leader">
                            <label for="leader">我是队长</label>
                        </div>
                    </div>
                    <div ng-show="user.profile.leader">
                        <div class="field">
                            <label>Botzone 账号</label>
                            <input type="text" name="botzone" placeholder="请输入在 Botzone 上注册的账户的昵称（不是 Email）"
                                ng-model="user.profile.botzone">
                        </div>
                        <div class="ui checkbox">
                            <input type="checkbox" id="haveTeacher" ng-model="user.profile.haveTeacher">
                            <label for="haveTeacher">有指导教师</label>
                        </div>
                        <div ng-show="user.profile.haveTeacher">
                            <br>
                            <p>
                                以下为指导教师信息，若无指导教师则不需填写本部分。<br>
                                本部分信息将影响指导教师参赛纪念品的发放。
                            </p>
                            <div class="field">
                                <label>指导教师姓名</label>
                                <input type="text" name="teacherName" ng-model="user.profile.teacherName">
                            </div>
                            <div class="field">
                                <label>指导教师所在专业</label>
                                <input type="text" name="teacherMajor" placeholder="请按照 “学院-系” 的格式填写，如：计算机学院-软件工程系"
                                    ng-model="user.profile.teacherMajor">
                            </div>
                            <div class="field">
                                <label>指导教师 Email</label>
                                <input type="text" name="teacherEmail" ng-model="user.profile.teacherEmail">
                            </div>
                            <div class="field">
                                <label>指导教师手机号</label>
                                <input type="text" name="teacherPhone" ng-model="user.profile.teacherPhone">
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="field" ng-hide="regIsClosed">
                        <button type="submit" class="fluid ui purple button" ng-click="submitForm()">
                            提交
                        </button>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>