<div id="login">
  <div class="container">
    <div class="content">
      <div class="ui segment">

        <div class="logo">
          <img src="assets/images/logo.png">
        </div>

        <div class="ui divider"></div>

        <div class="ui small error message"
             ng-show="error">
          {{error}}
        </div>

        <div class="ui login-password form">
          <form ng-submit="changePassword()">
            <div class="field">
              <label>新密码</label>
              <input type="password"
                     id='password'
                     placeholder="密码（至少 6 个字符）"
                     ng-model="password" required>
            </div>
            <div class="field">
              <label>重复新密码</label>
              <input type="password"
                     id='confirm'
                     placeholder="请重复输入新密码"
                     ng-model="confirm" required>
            </div>
            <div class="field">
              <button id="reset-password"
                      type="submit"
                      class="fluid ui login button">
                      提交
              </button>
            </div>

          </form>
        </div>

      </div>
    </div>

  </div>
</div>